/* # Generic */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 580px;
  font-family: "Darker Grotesque", sans-serif;
  line-height: 1;
  color: rgb(0, 23, 50);
  background-color: rgb(0, 109, 80);
}

h1 {
  font-size: 60px;
  text-align: center;
}

.btn {
  font-size: 24px;
  font-family: "Darker Grotesque", sans-serif;
  padding: 20px 20px 20px 20px;
  /* width: 50%; */
  cursor: pointer;
  text-transform: uppercase;
  border: 3px solid rgb(0, 23, 50);
}

.btn:hover {
  background-color: rgb(184, 181, 181);
}

.btn:active {
  background-color: rgb(116, 113, 113);
}

.btn-full {
  width: 100%;
}

.score {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  /* font-weight: 700; */
}

/* # Grid game */

.game-board {
  position: relative;
  margin-bottom: 8px;
  border: 3px solid rgb(0, 23, 50);
}

.game-container {
  width: calc((48px * 6) + 4px);
}

.grid {
  width: calc((48px * 6) + 4px);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.cell-dark {
  background-color: rgb(242, 242, 242);
}

.bar {
  background-color: #ee3800;
  border-radius: 8px;
  border: 2px solid rgb(0, 23, 50);
}

/* # Game over */
.end-game-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(241, 117, 78, 0.7);

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.win {
  background-color: rgba(78, 241, 187, 0.7);
}

.end-game-text {
  font-size: 48px;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
}

/* # Utilities */

.hidden {
  display: none;
}
